@model JOTB_Restauracja.Models.ProduktyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProduktyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jednostka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jednostka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Koszt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koszt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
